
<web-app>
<servlet>
	<servlet-name>registration</servlet-name>
	<servlet-class>com.itsc.RegistrationServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>registration</servlet-name>
	<url-pattern>/register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>com.itsc.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>
</web-app>